body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-156.000856516253px;
  width:1440.99914348375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:954px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5270 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:123px;
  width:1440px;
  height:954px;
  display:flex;
}
#u5270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:69px;
}
#u5271 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:135px;
  width:100px;
  height:69px;
  display:flex;
}
#u5271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1416px;
  height:2px;
}
#u5272 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:213px;
  width:1415px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.138410375851319deg);
  -moz-transform:rotate(0.138410375851319deg);
  -ms-transform:rotate(0.138410375851319deg);
  transform:rotate(0.138410375851319deg);
}
#u5272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:rgba(13, 162, 246, 0.996078431372549);
}
#u5273 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:143px;
  width:196px;
  height:54px;
  display:flex;
  font-size:26px;
  color:rgba(13, 162, 246, 0.996078431372549);
}
#u5273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:68px;
}
#u5274 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:135px;
  width:94px;
  height:68px;
  display:flex;
}
#u5274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5275 {
  border-width:0px;
  position:absolute;
  left:1428px;
  top:142px;
  width:102px;
  height:54px;
  display:flex;
  font-size:26px;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5276_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:11px;
  height:60px;
}
#u5276 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:279px;
  width:5px;
  height:54px;
  display:flex;
  -webkit-transform:rotate(1.0144650916577deg);
  -moz-transform:rotate(1.0144650916577deg);
  -ms-transform:rotate(1.0144650916577deg);
  transform:rotate(1.0144650916577deg);
}
#u5276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:left;
}
#u5277 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:229px;
  width:140px;
  height:52px;
  display:flex;
  font-size:19px;
  text-align:left;
}
#u5277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:821px;
}
#u5278 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:227px;
  width:1px;
  height:820px;
  display:flex;
  -webkit-transform:rotate(0.0175109345138034deg);
  -moz-transform:rotate(0.0175109345138034deg);
  -ms-transform:rotate(0.0175109345138034deg);
  transform:rotate(0.0175109345138034deg);
}
#u5278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:834px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5279 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:228px;
  width:1244px;
  height:834px;
  display:flex;
}
#u5279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5280 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:253px;
  width:167px;
  height:54px;
  display:flex;
  font-size:26px;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5281_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1174px;
  height:67px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5281 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:454px;
  width:1174px;
  height:67px;
  display:flex;
}
#u5281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5282 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:466px;
  width:82px;
  height:42px;
  display:flex;
}
#u5282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u5283 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:396px;
  width:119px;
  height:35px;
  display:flex;
  color:#AAAAAA;
}
#u5283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5284_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5284 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:389px;
  width:82px;
  height:42px;
  display:flex;
}
#u5284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5285_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5285 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:466px;
  width:82px;
  height:42px;
  display:flex;
}
#u5285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5286 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:466px;
  width:82px;
  height:42px;
  display:flex;
}
#u5286 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:46px;
  background:inherit;
  background-color:rgba(66, 106, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5287 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:320px;
  width:96px;
  height:46px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u5287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5288_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 106, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#426AFF;
}
#u5288 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:320px;
  width:96px;
  height:46px;
  display:flex;
  font-size:16px;
  color:#426AFF;
}
#u5288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5289_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5289 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:466px;
  width:82px;
  height:42px;
  display:flex;
}
#u5289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5290 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:466px;
  width:82px;
  height:42px;
  display:flex;
}
#u5290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5291 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:536px;
  width:82px;
  height:42px;
  display:flex;
}
#u5291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5292_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5292 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:536px;
  width:165px;
  height:42px;
  display:flex;
}
#u5292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5293_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5293 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:536px;
  width:82px;
  height:42px;
  display:flex;
}
#u5293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5294 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:536px;
  width:82px;
  height:42px;
  display:flex;
}
#u5294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:left;
}
#u5295 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:279px;
  width:140px;
  height:52px;
  display:flex;
  font-size:19px;
  text-align:left;
}
#u5295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5296_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5296 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:324px;
  width:49px;
  height:42px;
  display:flex;
  text-align:left;
}
#u5296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5297_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5297 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:536px;
  width:82px;
  height:42px;
  display:flex;
}
#u5297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5298 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:578px;
  width:82px;
  height:42px;
  display:flex;
}
#u5298 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5299 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:578px;
  width:165px;
  height:42px;
  display:flex;
}
#u5299 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5300 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:578px;
  width:82px;
  height:42px;
  display:flex;
}
#u5300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5301 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:578px;
  width:82px;
  height:42px;
  display:flex;
}
#u5301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5302 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:620px;
  width:82px;
  height:42px;
  display:flex;
}
#u5302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5303_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5303 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:620px;
  width:165px;
  height:42px;
  display:flex;
}
#u5303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5304_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5304 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:620px;
  width:82px;
  height:42px;
  display:flex;
}
#u5304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5305_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5305 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:620px;
  width:82px;
  height:42px;
  display:flex;
}
#u5305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5306 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:662px;
  width:82px;
  height:42px;
  display:flex;
}
#u5306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5307_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5307 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:662px;
  width:165px;
  height:42px;
  display:flex;
}
#u5307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5308 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:662px;
  width:82px;
  height:42px;
  display:flex;
}
#u5308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5309_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5309 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:662px;
  width:82px;
  height:42px;
  display:flex;
}
#u5309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5310 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:704px;
  width:82px;
  height:42px;
  display:flex;
}
#u5310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5311 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:704px;
  width:165px;
  height:42px;
  display:flex;
}
#u5311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5312 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:704px;
  width:82px;
  height:42px;
  display:flex;
}
#u5312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5313 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:704px;
  width:82px;
  height:42px;
  display:flex;
}
#u5313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5315 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:937px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(13, 162, 246, 0.996078431372549);
}
#u5315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5316 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:937px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5317 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:937px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5318 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:937px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5319 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:937px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5320 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:937px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:31px;
}
#u5321 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:937px;
  width:63px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5322 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:937px;
  width:63px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u5323 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:328px;
  width:193px;
  height:35px;
  display:flex;
  color:#AAAAAA;
}
#u5323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:left;
}
#u5324 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:331px;
  width:140px;
  height:52px;
  display:flex;
  font-size:19px;
  text-align:left;
}
#u5324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:left;
}
#u5325 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:383px;
  width:140px;
  height:52px;
  display:flex;
  font-size:19px;
  text-align:left;
}
#u5325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:46px;
  background:inherit;
  background-color:rgba(66, 106, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5326 {
  border-width:0px;
  position:absolute;
  left:1223px;
  top:387px;
  width:82px;
  height:46px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u5326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5327 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:393px;
  width:82px;
  height:42px;
  display:flex;
}
#u5327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5328 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:391px;
  width:247px;
  height:42px;
  display:flex;
}
#u5328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5329 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:466px;
  width:82px;
  height:42px;
  display:flex;
}
#u5329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5330 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:536px;
  width:82px;
  height:42px;
  display:flex;
}
#u5330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5331 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:578px;
  width:82px;
  height:42px;
  display:flex;
}
#u5331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5332 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:620px;
  width:82px;
  height:42px;
  display:flex;
}
#u5332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5333 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:662px;
  width:82px;
  height:42px;
  display:flex;
}
#u5333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5334 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:704px;
  width:82px;
  height:42px;
  display:flex;
}
#u5334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:46px;
  background:inherit;
  background-color:rgba(66, 106, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u5335 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:318px;
  width:111px;
  height:46px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u5335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 13px;
  box-sizing:border-box;
  width:100%;
}
#u5335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5336_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:44px;
}
#u5336 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:318px;
  width:21px;
  height:44px;
  display:flex;
}
#u5336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0000FF;
}
#u5337 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:364px;
  width:111px;
  height:46px;
  display:flex;
  font-size:16px;
  color:#0000FF;
}
#u5337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5338 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:578px;
  width:82px;
  height:42px;
  display:flex;
}
#u5338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5339 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:620px;
  width:82px;
  height:42px;
  display:flex;
}
#u5339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5340 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:662px;
  width:82px;
  height:42px;
  display:flex;
}
#u5340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5341 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:704px;
  width:82px;
  height:42px;
  display:flex;
}
#u5341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u5342 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:395px;
  width:193px;
  height:35px;
  display:flex;
  color:#AAAAAA;
}
#u5342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 106, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#426AFF;
}
#u5343 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:328px;
  width:70px;
  height:35px;
  display:flex;
  color:#426AFF;
}
#u5343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5344 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:327px;
  width:70px;
  height:35px;
  display:flex;
}
#u5344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5345 {
  border-width:0px;
  position:absolute;
  left:964px;
  top:327px;
  width:70px;
  height:35px;
  display:flex;
}
#u5345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5346 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:324px;
  width:82px;
  height:42px;
  display:flex;
}
#u5346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#7F7F7F;
}
#u5347 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:387px;
  width:82px;
  height:46px;
  display:flex;
  font-size:16px;
  color:#7F7F7F;
}
#u5347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5348 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:327px;
  width:70px;
  height:35px;
  display:flex;
}
#u5348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
