body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-156.000856516253px;
  width:1977.99914348375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:954px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5311 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:123px;
  width:1440px;
  height:954px;
  display:flex;
}
#u5311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:69px;
}
#u5312 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:135px;
  width:100px;
  height:69px;
  display:flex;
}
#u5312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1416px;
  height:2px;
}
#u5313 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:213px;
  width:1415px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.138410375851319deg);
  -moz-transform:rotate(0.138410375851319deg);
  -ms-transform:rotate(0.138410375851319deg);
  transform:rotate(0.138410375851319deg);
}
#u5313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5314_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:rgba(13, 162, 246, 0.996078431372549);
}
#u5314 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:143px;
  width:196px;
  height:54px;
  display:flex;
  font-size:26px;
  color:rgba(13, 162, 246, 0.996078431372549);
}
#u5314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:68px;
}
#u5315 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:135px;
  width:94px;
  height:68px;
  display:flex;
}
#u5315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5316 {
  border-width:0px;
  position:absolute;
  left:1428px;
  top:142px;
  width:102px;
  height:54px;
  display:flex;
  font-size:26px;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5317_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:11px;
  height:60px;
}
#u5317 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:381px;
  width:5px;
  height:54px;
  display:flex;
  -webkit-transform:rotate(1.0144650916577deg);
  -moz-transform:rotate(1.0144650916577deg);
  -ms-transform:rotate(1.0144650916577deg);
  transform:rotate(1.0144650916577deg);
}
#u5317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:left;
}
#u5318 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:229px;
  width:140px;
  height:52px;
  display:flex;
  font-size:19px;
  text-align:left;
}
#u5318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:821px;
}
#u5319 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:227px;
  width:1px;
  height:820px;
  display:flex;
  -webkit-transform:rotate(0.0175109345138034deg);
  -moz-transform:rotate(0.0175109345138034deg);
  -ms-transform:rotate(0.0175109345138034deg);
  transform:rotate(0.0175109345138034deg);
}
#u5319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:834px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5320 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:228px;
  width:1244px;
  height:834px;
  display:flex;
}
#u5320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5321_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5321 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:253px;
  width:167px;
  height:54px;
  display:flex;
  font-size:26px;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5322_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1174px;
  height:67px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5322 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:454px;
  width:1174px;
  height:67px;
  display:flex;
}
#u5322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5323 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:466px;
  width:82px;
  height:42px;
  display:flex;
}
#u5323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5324 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:466px;
  width:82px;
  height:42px;
  display:flex;
}
#u5324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5325 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:466px;
  width:113px;
  height:42px;
  display:flex;
}
#u5325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:46px;
  background:inherit;
  background-color:rgba(66, 106, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5326 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:320px;
  width:96px;
  height:46px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u5326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 106, 255, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#426AFF;
}
#u5327 {
  border-width:0px;
  position:absolute;
  left:1203px;
  top:320px;
  width:96px;
  height:46px;
  display:flex;
  font-size:16px;
  color:#426AFF;
}
#u5327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5328 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:466px;
  width:82px;
  height:42px;
  display:flex;
}
#u5328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5329 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:466px;
  width:82px;
  height:42px;
  display:flex;
}
#u5329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5330 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:536px;
  width:82px;
  height:42px;
  display:flex;
}
#u5330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5331 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:536px;
  width:165px;
  height:42px;
  display:flex;
}
#u5331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5332 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:536px;
  width:82px;
  height:42px;
  display:flex;
}
#u5332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5333 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:536px;
  width:145px;
  height:42px;
  display:flex;
}
#u5333 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5333_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:left;
}
#u5334 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:279px;
  width:140px;
  height:52px;
  display:flex;
  font-size:19px;
  text-align:left;
}
#u5334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5335 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:324px;
  width:81px;
  height:42px;
  display:flex;
  text-align:left;
}
#u5335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5336 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:536px;
  width:82px;
  height:42px;
  display:flex;
}
#u5336 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5336_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5337 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:578px;
  width:82px;
  height:42px;
  display:flex;
}
#u5337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5338 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:578px;
  width:165px;
  height:42px;
  display:flex;
}
#u5338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5339 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:578px;
  width:82px;
  height:42px;
  display:flex;
}
#u5339 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5339_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5340 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:578px;
  width:145px;
  height:42px;
  display:flex;
}
#u5340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5341 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:620px;
  width:82px;
  height:42px;
  display:flex;
}
#u5341 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5341_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5342 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:620px;
  width:165px;
  height:42px;
  display:flex;
}
#u5342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5343 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:620px;
  width:82px;
  height:42px;
  display:flex;
}
#u5343 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5344 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:620px;
  width:145px;
  height:42px;
  display:flex;
}
#u5344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5345 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:662px;
  width:82px;
  height:42px;
  display:flex;
}
#u5345 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5345_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5346 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:662px;
  width:165px;
  height:42px;
  display:flex;
}
#u5346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5347 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:662px;
  width:82px;
  height:42px;
  display:flex;
}
#u5347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5348 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:662px;
  width:145px;
  height:42px;
  display:flex;
}
#u5348 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5348_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5349 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:704px;
  width:82px;
  height:42px;
  display:flex;
}
#u5349 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5350 {
  border-width:0px;
  position:absolute;
  left:659px;
  top:704px;
  width:165px;
  height:42px;
  display:flex;
}
#u5350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5351 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:704px;
  width:82px;
  height:42px;
  display:flex;
}
#u5351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5352 {
  border-width:0px;
  position:absolute;
  left:967px;
  top:704px;
  width:145px;
  height:42px;
  display:flex;
}
#u5352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5354 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:937px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(13, 162, 246, 0.996078431372549);
}
#u5354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5355 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:937px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5356 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:937px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5357 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:937px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5358 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:937px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5359 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:937px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:31px;
}
#u5360 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:937px;
  width:63px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5361 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:937px;
  width:63px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
}
#u5362 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:328px;
  width:193px;
  height:35px;
  display:flex;
  color:#AAAAAA;
}
#u5362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:left;
}
#u5363 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:331px;
  width:140px;
  height:52px;
  display:flex;
  font-size:19px;
  text-align:left;
}
#u5363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:left;
}
#u5364 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:383px;
  width:140px;
  height:52px;
  display:flex;
  font-size:19px;
  text-align:left;
}
#u5364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5365 {
  border-width:0px;
  position:absolute;
  left:1203px;
  top:466px;
  width:82px;
  height:42px;
  display:flex;
}
#u5365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8080FF;
}
#u5366 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:536px;
  width:140px;
  height:42px;
  display:flex;
  color:#8080FF;
}
#u5366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5367 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:578px;
  width:82px;
  height:42px;
  display:flex;
}
#u5367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5368 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:620px;
  width:82px;
  height:42px;
  display:flex;
}
#u5368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5369 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:662px;
  width:82px;
  height:42px;
  display:flex;
}
#u5369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5370 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:704px;
  width:82px;
  height:42px;
  display:flex;
}
#u5370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(66, 106, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#426AFF;
}
#u5371 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:328px;
  width:70px;
  height:35px;
  display:flex;
  color:#426AFF;
}
#u5371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5372 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:327px;
  width:70px;
  height:35px;
  display:flex;
}
#u5372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5373 {
  border-width:0px;
  position:absolute;
  left:936px;
  top:327px;
  width:70px;
  height:35px;
  display:flex;
}
#u5373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5374 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:324px;
  width:82px;
  height:42px;
  display:flex;
}
#u5374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:left;
}
#u5375 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:435px;
  width:140px;
  height:52px;
  display:flex;
  font-size:19px;
  text-align:left;
}
#u5375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8080FF;
}
#u5376 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:578px;
  width:140px;
  height:42px;
  display:flex;
  color:#8080FF;
}
#u5376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8080FF;
}
#u5377 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:620px;
  width:140px;
  height:42px;
  display:flex;
  color:#8080FF;
}
#u5377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8080FF;
}
#u5378 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:662px;
  width:140px;
  height:42px;
  display:flex;
  color:#8080FF;
}
#u5378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8080FF;
}
#u5379 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:704px;
  width:140px;
  height:42px;
  display:flex;
  color:#8080FF;
}
#u5379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5380 {
  border-width:0px;
  position:absolute;
  left:1428px;
  top:260px;
  width:102px;
  height:40px;
  display:flex;
}
#u5380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5381 {
  border-width:0px;
  position:absolute;
  left:1376px;
  top:466px;
  width:82px;
  height:42px;
  display:flex;
}
#u5381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:12px;
}
#u5382 {
  border-width:0px;
  position:absolute;
  left:1413px;
  top:551px;
  width:9px;
  height:12px;
  display:flex;
}
#u5382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:12px;
}
#u5383 {
  border-width:0px;
  position:absolute;
  left:1413px;
  top:587px;
  width:9px;
  height:12px;
  display:flex;
}
#u5383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:12px;
}
#u5384 {
  border-width:0px;
  position:absolute;
  left:1413px;
  top:635px;
  width:9px;
  height:12px;
  display:flex;
}
#u5384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:12px;
}
#u5385 {
  border-width:0px;
  position:absolute;
  left:1413px;
  top:677px;
  width:9px;
  height:12px;
  display:flex;
}
#u5385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:12px;
}
#u5386 {
  border-width:0px;
  position:absolute;
  left:1413px;
  top:719px;
  width:9px;
  height:12px;
  display:flex;
}
#u5386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5387 {
  border-width:0px;
  position:absolute;
  left:1638px;
  top:260px;
  width:496px;
  height:140px;
  display:flex;
}
#u5387 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5388 {
  border-width:0px;
  position:absolute;
  left:1287px;
  top:260px;
  width:102px;
  height:40px;
  display:flex;
}
#u5388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5389 {
  border-width:0px;
  position:absolute;
  left:1638px;
  top:412px;
  width:496px;
  height:39px;
  display:flex;
}
#u5389 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:left;
}
#u5390 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:487px;
  width:140px;
  height:52px;
  display:flex;
  font-size:19px;
  text-align:left;
}
#u5390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
