body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-424px;
  width:527px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:936px;
}
#u8692 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:61px;
  width:527px;
  height:936px;
  display:flex;
}
#u8692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:28px;
  background:inherit;
  background-color:rgba(69, 45, 45, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#DCBF6D;
}
#u8693 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:239px;
  width:376px;
  height:28px;
  display:flex;
  color:#DCBF6D;
}
#u8693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#0F990E;
}
#u8694 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:245px;
  width:60px;
  height:15px;
  display:flex;
  font-size:13px;
  color:#0F990E;
}
#u8694 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8694_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
