body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-85.9996173063716px;
  width:912.000382693628px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:643px;
}
#u3322 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:113px;
  width:375px;
  height:643px;
  display:flex;
}
#u3322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3323 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3324 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:98px;
  background:inherit;
  background-color:rgba(66, 106, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3325 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:81px;
  width:375px;
  height:98px;
  display:flex;
}
#u3325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
}
#u3326 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:88px;
  width:360px;
  height:12px;
  display:flex;
}
#u3326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u3327 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:693px;
  width:375px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0530702993409735deg);
  -moz-transform:rotate(-0.0530702993409735deg);
  -ms-transform:rotate(-0.0530702993409735deg);
  transform:rotate(-0.0530702993409735deg);
}
#u3327 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3327_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3328 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:179px;
  width:375px;
  height:666px;
  display:flex;
}
#u3328 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3328_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u3329 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:130px;
  width:156px;
  height:29px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u3329 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3329_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u3330 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:134px;
  width:14px;
  height:24px;
  display:flex;
}
#u3330 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3330_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:324px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3331 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:365px;
  width:373px;
  height:324px;
  display:flex;
}
#u3331 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3331_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3332_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u3332 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:428px;
  width:367px;
  height:1px;
  display:flex;
}
#u3332 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3332_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3333 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:390px;
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u3333 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3333_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
}
#u3334 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:384px;
  width:44px;
  height:28px;
  display:flex;
}
#u3334 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3334_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u3335 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:493px;
  width:367px;
  height:1px;
  display:flex;
}
#u3335 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3335_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3336 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:454px;
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u3336 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3336_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
}
#u3337 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:449px;
  width:44px;
  height:28px;
  display:flex;
}
#u3337 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3337_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3338_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u3338 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:557px;
  width:367px;
  height:1px;
  display:flex;
}
#u3338 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3338_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3339 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:518px;
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u3339 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3339_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
}
#u3340 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:513px;
  width:44px;
  height:28px;
  display:flex;
}
#u3340 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3340_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u3341 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:305px;
  width:81px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u3341 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3341_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3342 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:394px;
  width:8px;
  height:8px;
  display:flex;
}
#u3342 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3342_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3343 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:203px;
  width:483px;
  height:95px;
  display:flex;
}
#u3343 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3343_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:50px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3344 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:217px;
  width:53px;
  height:50px;
  display:flex;
}
#u3344 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3344_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3345 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:282px;
  width:42px;
  height:16px;
  display:flex;
}
#u3345 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3345_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u3346 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:795px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u3346 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3346_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u3347 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:816px;
  width:313px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u3347 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3347_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3349 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:643px;
}
#u3350 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:1005px;
  width:375px;
  height:643px;
  display:flex;
}
#u3350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:98px;
  background:inherit;
  background-color:rgba(66, 106, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3353 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:973px;
  width:375px;
  height:98px;
  display:flex;
}
#u3353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:12px;
}
#u3354 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:980px;
  width:360px;
  height:12px;
  display:flex;
}
#u3354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u3355 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:1585px;
  width:375px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-0.0530702993409735deg);
  -moz-transform:rotate(-0.0530702993409735deg);
  -ms-transform:rotate(-0.0530702993409735deg);
  transform:rotate(-0.0530702993409735deg);
}
#u3355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3356 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:1071px;
  width:375px;
  height:666px;
  display:flex;
}
#u3356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u3357 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:1022px;
  width:156px;
  height:29px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u3357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
}
#u3358 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:1026px;
  width:14px;
  height:24px;
  display:flex;
}
#u3358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:193px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3359 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1257px;
  width:373px;
  height:193px;
  display:flex;
}
#u3359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u3360 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:1320px;
  width:367px;
  height:1px;
  display:flex;
}
#u3360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3361 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:1282px;
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u3361 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3361_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
}
#u3362 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:1276px;
  width:44px;
  height:28px;
  display:flex;
}
#u3362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u3363 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:1385px;
  width:367px;
  height:1px;
  display:flex;
}
#u3363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3364 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:1346px;
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u3364 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3364_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
}
#u3365 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:1341px;
  width:44px;
  height:28px;
  display:flex;
}
#u3365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u3366 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:1449px;
  width:367px;
  height:1px;
  display:flex;
}
#u3366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3367 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:1410px;
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u3367 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3367_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
}
#u3368 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:1405px;
  width:44px;
  height:28px;
  display:flex;
}
#u3368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u3369 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:1197px;
  width:81px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u3369 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3369_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3370 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:1286px;
  width:8px;
  height:8px;
  display:flex;
}
#u3370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:50px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3371 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:1109px;
  width:53px;
  height:50px;
  display:flex;
}
#u3371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3372 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:1174px;
  width:42px;
  height:16px;
  display:flex;
}
#u3372 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3372_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u3373 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:1687px;
  width:100px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u3373 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3373_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
}
#u3374 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:1708px;
  width:313px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
}
#u3374 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3374_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:764px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.596078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3375 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:973px;
  width:375px;
  height:764px;
  display:flex;
}
#u3375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:181px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3377 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:1230px;
  width:300px;
  height:181px;
  display:flex;
}
#u3377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3378 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:1299px;
  width:206px;
  height:16px;
  display:flex;
}
#u3378 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3378_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3379 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:1249px;
  width:64px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3379 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3379_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3380 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:1372px;
  width:150px;
  height:40px;
  display:flex;
}
#u3380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3381 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:1372px;
  width:150px;
  height:40px;
  display:flex;
}
#u3381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3382 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:582px;
  width:64px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u3382 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3382_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
}
#u3383 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:577px;
  width:44px;
  height:28px;
  display:flex;
}
#u3383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:2px;
}
#u3384 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:623px;
  width:367px;
  height:1px;
  display:flex;
}
#u3384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3385 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:648px;
  width:97px;
  height:18px;
  display:flex;
  font-size:16px;
}
#u3385 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3385_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
}
#u3386 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:643px;
  width:44px;
  height:28px;
  display:flex;
}
#u3386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FF373C;
}
#u3387 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:623px;
  width:483px;
  height:66px;
  display:flex;
  color:#FF373C;
}
#u3387 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
