body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-156.000856516253px;
  width:1796.99914348375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:954px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5736 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:123px;
  width:1440px;
  height:954px;
  display:flex;
}
#u5736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:69px;
}
#u5737 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:135px;
  width:100px;
  height:69px;
  display:flex;
}
#u5737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1416px;
  height:2px;
}
#u5738 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:213px;
  width:1415px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.138410375851319deg);
  -moz-transform:rotate(0.138410375851319deg);
  -ms-transform:rotate(0.138410375851319deg);
  transform:rotate(0.138410375851319deg);
}
#u5738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:rgba(13, 162, 246, 0.996078431372549);
}
#u5739 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:143px;
  width:196px;
  height:54px;
  display:flex;
  font-size:26px;
  color:rgba(13, 162, 246, 0.996078431372549);
}
#u5739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:68px;
}
#u5740 {
  border-width:0px;
  position:absolute;
  left:1320px;
  top:135px;
  width:94px;
  height:68px;
  display:flex;
}
#u5740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5741 {
  border-width:0px;
  position:absolute;
  left:1428px;
  top:142px;
  width:102px;
  height:54px;
  display:flex;
  font-size:26px;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:821px;
}
#u5742 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:227px;
  width:1px;
  height:820px;
  display:flex;
  -webkit-transform:rotate(0.0175109345138034deg);
  -moz-transform:rotate(0.0175109345138034deg);
  -ms-transform:rotate(0.0175109345138034deg);
  transform:rotate(0.0175109345138034deg);
}
#u5742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1244px;
  height:834px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5743 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:228px;
  width:1244px;
  height:834px;
  display:flex;
}
#u5743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5744 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:251px;
  width:167px;
  height:54px;
  display:flex;
  font-size:26px;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1174px;
  height:67px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5745 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:628px;
  width:1174px;
  height:67px;
  display:flex;
}
#u5745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5746 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:640px;
  width:66px;
  height:42px;
  display:flex;
}
#u5746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5747 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:794px;
  width:841px;
  height:42px;
  display:flex;
}
#u5747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5748 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:836px;
  width:841px;
  height:42px;
  display:flex;
}
#u5748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5749 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:878px;
  width:841px;
  height:42px;
  display:flex;
}
#u5749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5751 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:1006px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(13, 162, 246, 0.996078431372549);
}
#u5751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5752 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:1006px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5753 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1006px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5754 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:1006px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5755 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:1006px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:31px;
}
#u5756 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:1006px;
  width:34px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:31px;
}
#u5757 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:1006px;
  width:63px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5758 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:1006px;
  width:63px;
  height:31px;
  display:flex;
  color:rgba(0, 0, 0, 0.996078431372549);
}
#u5758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5759 {
  border-width:0px;
  position:absolute;
  left:1409px;
  top:640px;
  width:80px;
  height:42px;
  display:flex;
}
#u5759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5760 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:710px;
  width:71px;
  height:42px;
  display:flex;
  color:#0000FF;
}
#u5760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5761 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:752px;
  width:841px;
  height:42px;
  display:flex;
}
#u5761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:849px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5762 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:710px;
  width:849px;
  height:42px;
  display:flex;
}
#u5762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5763 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:752px;
  width:71px;
  height:42px;
  display:flex;
  color:#0000FF;
}
#u5763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5764 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:794px;
  width:71px;
  height:42px;
  display:flex;
  color:#0000FF;
}
#u5764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5765 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:836px;
  width:71px;
  height:42px;
  display:flex;
  color:#0000FF;
}
#u5765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u5766 {
  border-width:0px;
  position:absolute;
  left:1414px;
  top:878px;
  width:71px;
  height:42px;
  display:flex;
  color:#0000FF;
}
#u5766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:left;
}
#u5767 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:229px;
  width:140px;
  height:52px;
  display:flex;
  font-size:19px;
  text-align:left;
}
#u5767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:left;
}
#u5768 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:279px;
  width:140px;
  height:52px;
  display:flex;
  font-size:19px;
  text-align:left;
}
#u5768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:left;
}
#u5769 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:331px;
  width:140px;
  height:52px;
  display:flex;
  font-size:19px;
  text-align:left;
}
#u5769 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:left;
}
#u5770 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:383px;
  width:140px;
  height:52px;
  display:flex;
  font-size:19px;
  text-align:left;
}
#u5770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:left;
}
#u5771 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:435px;
  width:140px;
  height:52px;
  display:flex;
  font-size:19px;
  text-align:left;
}
#u5771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:left;
}
#u5772 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:383px;
  width:140px;
  height:52px;
  display:flex;
  font-size:19px;
  text-align:left;
}
#u5772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  text-align:left;
}
#u5773 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:487px;
  width:140px;
  height:52px;
  display:flex;
  font-size:19px;
  text-align:left;
}
#u5773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5774_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:11px;
  height:60px;
}
#u5774 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:485px;
  width:5px;
  height:54px;
  display:flex;
  -webkit-transform:rotate(1.0144650916577deg);
  -moz-transform:rotate(1.0144650916577deg);
  -ms-transform:rotate(1.0144650916577deg);
  transform:rotate(1.0144650916577deg);
}
#u5774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5775 {
  border-width:0px;
  position:absolute;
  left:1279px;
  top:640px;
  width:82px;
  height:42px;
  display:flex;
}
#u5775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5776 {
  border-width:0px;
  position:absolute;
  left:1248px;
  top:710px;
  width:145px;
  height:42px;
  display:flex;
}
#u5776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5777 {
  border-width:0px;
  position:absolute;
  left:1248px;
  top:752px;
  width:145px;
  height:42px;
  display:flex;
}
#u5777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5778 {
  border-width:0px;
  position:absolute;
  left:1248px;
  top:794px;
  width:145px;
  height:42px;
  display:flex;
}
#u5778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5779 {
  border-width:0px;
  position:absolute;
  left:1248px;
  top:836px;
  width:145px;
  height:42px;
  display:flex;
}
#u5779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0235294117647059);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5780 {
  border-width:0px;
  position:absolute;
  left:1248px;
  top:878px;
  width:145px;
  height:42px;
  display:flex;
}
#u5780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5781_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1174px;
  height:215px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u5781_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1174px;
  height:215px;
  padding:3px 2px 3px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u5781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1174px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5781 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:324px;
  width:1174px;
  height:215px;
  display:flex;
}
#u5781 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5781_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1174px;
  height:215px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5781.disabled {
}
#u5782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5782 {
  border-width:0px;
  position:absolute;
  left:1428px;
  top:560px;
  width:102px;
  height:40px;
  display:flex;
}
#u5782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5783 {
  border-width:0px;
  position:absolute;
  left:1632px;
  top:227px;
  width:321px;
  height:78px;
  display:flex;
}
#u5783 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5784 {
  border-width:0px;
  position:absolute;
  left:1632px;
  top:344px;
  width:321px;
  height:39px;
  display:flex;
}
#u5784 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
